<script src="http://code.onion.com/fartscroll.js"></script>
<script>
	var makeBug = function () {
		var targethead = window.document.getElementsByTagName("head")[0],
    	loadedSpiders = false,
    	jst = window.document.createElement("script");
  		jst.async = true;
  		jst.type = "text/javascript";
  		jst.src = "/javascripts/libs/bug.min.js";
  		jst.onload = jst.onreadystatechange = function() {
    		if (!loadedSpiders && (!this.readyState || this.readyState == 'complete')) {
      			loadedSpiders = true;
      			// start fire the JS.
      			new BugController();
      			new SpiderController();
    		}
  		};
  		targethead.appendChild(jst);
	}
</script>
<section>
  <h1>Interested Spoof</h1>
  <ul id="interested_spoof">
  	  <li class="post">
  	  	<a href="javascript:makeBug()">Bug this website</a>
  	  </li>
      <li class="post">
		<a href="javascript:var s = document.createElement('script');s.type='text/javascript';document.body.appendChild(s);s.src='/javascripts/libs/asteroids.min.js';void(0);">Destroy this website</a>
      </li>
      <li class="post">
      	<a href="javascript:fartscroll(800);">Make this website fart</a>
      </li>
  </ul>
</section>
