
.search {
  color: #fff;
  padding: 0 15px;
  height: 100%;
  line-height: 60px;
  cursor: $cursor-pointer, pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.header-bg-color .search {
  color: $color-inner;
}
.message-box_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 11;

  .message-box {
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: 60%;
    padding: 10px 20px;
    margin-top: 100px;
    background-color: #fff;
    width: 680px;
    border-radius: 5px;

    h2 {
      font-size: 1.5rem;
      color: $color-primary;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .close {
        cursor: pointer;
        color: #ccc;
        font-size: 1.2rem;

        &:hover {
          color: $color-primary;
        }
      }
    }

    #local-search-input {
      position: relative;
      width: 100%;
      display: block;
      background-color: transparent;
      box-sizing: border-box;
      font-size: 1rem;
      z-index: 2;
      padding: 0.25rem 0.7rem;
      outline: 0;
      font-size: 14px;
      margin-top: 15px;
      border: 1px solid rgb(190, 191, 201);
      border-radius: 3px;
      line-height: 30px;
      color: rgb(38, 38, 39);
    }

    #local-search-input:focus {
      // transition-duration: 0.3s;
      // background-size: 100% 2px, 100% 1px;
      // background-image: linear-gradient($color-primary, $color-primary),
      // linear-gradient(#e4eaec, #e4eaec);
      // 注释代码是另一种输入框样式
    }
  }

  .result-wrapper {
    max-height: 80%;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 15px;

    .search-keyword {
      color: #d63200;
    }


    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgba(0, 0, 0, 0.5);
    }

    ul {
      list-style-type: none;
      box-sizing: border-box;
      padding: 0;

      li {
        margin-bottom: 15px;
        transition: all 0.3s;
        word-wrap: break-word;
        padding: 10px 10px;
        background-color: rgba(249, 249, 250, 0.8);
        box-shadow: none;
        border-radius: 5px;

        &:hover {
          background-color: rgb(239 241 251);
        }

        a {
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 551px) {
  .message-box_wrapper {
    .message-box {
      width: 80%;
    }
  }
}
